<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <title>World Wines</title>
        <%- include('common/bootstrap'); -%>

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
        <!-- Custom styles for this template -->
        <link href="css/album.css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('common/header'); -%>

        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1>The Largest Collection of Wine Reviews in the World</h1>
                    <p class="lead text-muted">Search, Explore and Favourite.</p>
                    <h2>
                        <strong><%= totalTastings %></strong> reviews from wines originating
                        from <strong><%= totalCountries %></strong> different countries.
                        Lovingly crafted by <strong><%= totalTasters %></strong> tasters
                    </h2>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <% tasterCountSummary.forEach(taster => { %>
                            <%- include('common/taster-card', {taster: taster}); -%>
                        <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('common/footer') -%>
    </body>
</html>
